* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

:root {
  --gradient-color: linear-gradient(90deg, #97dde8, #ffccf2);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #17191d;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  flex: 1;
  background: rgba(27, 27, 27);
  color: bisque;
}
#footer {
  margin-top: auto;
}
