.home-header {
    height: 70px;
    background: rgba(23, 25, 29, 0.85) !important;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 1000;
    width: 100%;
}

.logo-img {
    height: 45px;
    width: auto;
    object-fit: cover;
}

.logo-text {
    font-size: 24px;
    font-weight: 600;
    background: linear-gradient(90deg, #4084f2, #a36af2, #f0ccff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.2;
}

.nav-link-custom {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: rgb(180, 180, 180);
    transition: 0.3s;
}

.nav-link-custom:hover {
    background: linear-gradient(90deg, #97dde8, #ffccf2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .nav-link-custom.active {
    color: #ffffff;
    font-weight: 700;
} */

.search-box {
    width: 220px;
    height: 40px;
    border-radius: 40px;
    background-color: rgba(252, 252, 252, 0.1);
    overflow: hidden;
}

.search-box input {
    background: transparent !important;
    border: none !important;
    color: white !important;
    height: 100%;
    font-size: 14px;
    padding-left: 20px;
}

.search-box input::placeholder {
    background: linear-gradient(90deg, #97dde8, #ffccf2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;
}

.search-box i {
    cursor: pointer;
    transition: 0.3s;
}

.search-box i:hover {
    background: linear-gradient(90deg, #97dde8, #ffccf2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.user-profile {
    width: 40px;
    height: 40px;
    border: 1.5px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.user-profile:hover {
    border-color: #a36af2;
}

.user-profile:hover i {
    color: #a36af2 !important;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: -280px;
    width: 280px;
    height: 100vh;
    background-color: #1a1a1a;
    padding: 80px 20px;
    transition: 0.3s ease;
    z-index: 2000;
    border-right: 1px solid #333;
}

.mobile-menu.active {
    left: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1999;
}

.overlay.active {
    display: block;
}

@media (max-width: 768px) {
    .logo-text {
        font-size: 1.5rem;
    }
}