<footer>
  <div class="container py-4">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12">
        <div class="d-flex align-items-center gap-3 mb-3">
          <img
            src="/assets/images/VitaFlix.png"
            alt="Logo"
            class="footer-logo"
          />
          <div>
            <p class="footer-brand m-0">VitaFlix</p>
            <span class="text-white-50 small">abc@gmail.com</span>
          </div>
        </div>
        <div class="d-flex gap-3 mb-3 social-links">
          <a href="https://www.facebook.com/" target="_blank"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
          <a href="https://www.instagram.com/" target="_blank"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a href="https://www.threads.net/" target="_blank"
            ><i class="fa-brands fa-threads"></i
          ></a>
          <a href="https://www.tiktok.com/" target="_blank"
            ><i class="fa-brands fa-tiktok"></i
          ></a>
          <a href="https://github.com/" target="_blank"
            ><i class="fa-brands fa-github"></i
          ></a>
        </div>

        <p class="text-white-50 small pe-lg-5">
          VitaFlix là website xem phim trực tuyến được phát triển từ dự án cá
          nhân đầu tiên. Giao diện thân thiện, nội dung cập nhật thủ công, tối
          ưu trải nghiệm người dùng.
        </p>
      </div>

      <div class="col-lg-3 col-md-6">
        <h5 class="footer-heading mb-3">Services</h5>
        <ul class="list-unstyled d-flex flex-column gap-2">
          <li>
            <a href="../policy.html" class="footer-link"
              >Chính sách bảo mật</a
            >
          </li>
          <li>
            <a href="../conditions.html" class="footer-link"
              >Điều khoản sử dụng</a
            >
          </li>
          <li><a href="..//FAQ.html" class="footer-link">Hỏi đáp</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-6">
        <h5 class="footer-heading mb-3">Subscribe</h5>
        <p class="text-white-50 small mb-2">
          Nhập email của bạn để nhận thông báo mới nhất
        </p>
        <div class="subscribe-form">
          <input
            type="email"
            class="form-control"
            placeholder="Email của bạn"
          />
        </div>
      </div>
    </div>
  </div>
</footer>
