<footer>
    <div class="container-footer">
    <div class="about-me">
        <div class="logo-name">
        <div class="logo">
            <img src="assets/images/VitaFlix.png">
        </div>
        <div class="name">
            <p>VitaFlex</p>
            <span>abc@gmail.com</span>
        </div>
        </div>

        <div class="link-mxh">
        <div>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
        </div>
        <div>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div>
            <a href="https://www.threads.com/" target="_blank"><i class="fa-brands fa-threads"></i></a>
        </div>
        <div>
            <a href="https://www.tiktok.com/" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
        </div>
        <div>
            <a href="https://github.com/" target="_blank"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
        </div>
        </div> 

        <div class="introduce">
        VitaFlix là website xem phim trực tuyến được phát triển từ dự án cá nhân đầu tiên.Giao diện thân thiện, nội dung cập nhật thủ công, tối ưu cho trải nghiệm người dùng.
        </div>
    </div>
    <div class="service">
        <h5>Services</h5>
        <a href="#">Chính sách bảo mật</a>
        <a href="#">Điều khoảng sử dụng</a>
        <a href="#">Hỏi đáp</a>
    </div>
    <div class="subscribe">
        <h5>Subscribe</h5>
        <a>Nhập email của bạn để nhân được thông báo của chúng tôi sớm nhất</a>
        <input type="email" placeholder="Email">
    </div>
    </div>
</footer>