<header class="home-header">
    <div class="d-flex align-items-center">
        <img src="/assets/images/VitaFlix.png" alt="Logo" class="logo-img me-2">
        <h1 class="logo-text mb-0">VitaFlix</h1>
    </div>
    <ul class="nav">
        <li>
            <a><i class="fa-solid fa-house" aria-hidden="true"></i></a>
        </li>
        <li><a href="#"> Chủ đề</a></li>
        <li><a href="#">Thể loại</a></li>
        <li><a href="#">Phim lẻ</a></li>
        <li><a href="#">Phim bộ</a></li>
        <li><a href="#">Quốc gia</a></li>
        <li><a href="#">Diễn viên</a></li>
    </ul>
        <div class="header-right">
            <div class="search">
                <input type="text" placeholder="Search">
                <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
            </div>

            <div class="user-profile">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
</header>