/* ==================== BUTTON STYLES ==================== */
.see-more-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(240, 240, 240, 0.3);
  border-radius: 20px;
  padding: 8px;
  margin-left: 12px;
  overflow: hidden;
  transition: all 0.3s ease;
  gap: 8px;
  cursor: pointer;
  white-space: nowrap;
}

.see-more-button i {
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 6px;
  display: inline-block;
  transition: 0.15s;
}

.see-more-button .see-more-text {
  opacity: 0;
  width: 0;
  transition: all 0.8s ease;
  overflow: hidden;
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Khi hover vào nút: giãn rộng + hiện chữ */
.see-more-button:hover {
  width: 130px; /* mở rộng để chứa chữ */
  background-color: transparent;
  justify-content: flex-start;
  padding-left: 6px;
  border: 1px solid #8fd3dd;
}

.see-more-button:hover .see-more-text {
  opacity: 1;
  width: auto;
  margin-left: 6px;
}

.movie-wrapper {
  position: relative;
  width: 100%;
}

.scroll-button {
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  border: 1px solid white;
  transition: 0.15s;
  cursor: pointer;
  display: inline-block;
  z-index: 100 !important;
}

.scroll-button:hover {
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  opacity: 1;
}

.scroll-button i {
  color: white;
  padding: 8px 12px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.15s;
}

.scroll-button i:hover {
  color: white;
}

.scroll-button.prev {
  left: 0;
  z-index: 2;
}

.scroll-button.next {
  right: 5px;
  z-index: 2;
}

.scroll-button.prev1 {
  left: -20px;
  z-index: 2;
}

.scroll-button.next1 {
  right: 5px;
  z-index: 2;
}

/* ==================== MOVIE CONTINUE STYLES ==================== */
.movie-continute-container {
  height: 420px;
  width: 100%;
  max-width: 100vw;
  margin: auto;
  overflow-x: hidden;
  padding: 0 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 14px;
  background-color: rgba(32, 32, 32, 0.4);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 1px solid #505050;
  border-left: none;
  box-shadow: 3px 3px 10px rgba(172, 172, 172, 0.2);
}

.title-list-box {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  margin-bottom: 6px;
}

.titlle-movie-continute {
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  padding: 0px;
  margin-bottom: 4px;
  font-size: 36px;
}

.list-movie-continute {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-continute-box {
  height: 320px;
  width: 190px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.15s;
  filter: brightness(90%);
}

.movie-continute-box:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}

.movie-continute-box img {
  height: 290px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 11px;
}

.movie-continute-box p {
  font-size: 13px;
  color: rgb(182, 182, 182);
  padding-top: 8px;
}

.movie-continute-box p span {
  color: rgb(86, 86, 86);
}

/* ==================== MOVIE SINGLE STYLES ==================== */
.container-movie-single {
  display: flex;
  max-width: 100vw;
  margin: auto;
  overflow-x: hidden;
  height: auto;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  box-shadow: 0 0 20px rgba(175, 175, 175, 0.1);
}

.content-movie-single {
  font-family: Oswald !important;
  height: 90%;
  max-width: 220px;
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  line-height: 180px;
}

.list-movie-single {
  height: 420px;
  max-width: 90vw;
  margin: 10px 0px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  gap: 14px;
}

.list-movie-single::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.movie-single-box {
  height: 380px;
  max-width: 210px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.15s;
}

.movie-single-box:hover {
  transform: scale(1.1);
}

.movie-single-box img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 14px;
  filter: brightness(90%);
}

.movie-single-box .content-name-movie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ==================== MOVIE SERIES STYLES ==================== */
.movie-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  padding: 30px 20px;
  gap: 14px;
  margin: 30px 0;
  box-shadow: 0 0 20px rgba(175, 175, 175, 0.1);
}

.movie-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.movie-list.random {
  flex-wrap: wrap;
  width: auto;
  overflow: hidden;
}

.movie-list.more {
  overflow: hidden;
  flex-wrap: wrap;
}

.title-list {
  display: flex;
  align-items: center;
  margin: 24px 0;
  transition: 0.15s;
}

.title-list h2 {
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: 30px;
  font-weight: 550;
  margin: 0 0 0 16px;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  pointer-events: none;
  z-index: 0;
  background: linear-gradient(
    to bottom,
    rgba(55, 26, 53, 0.6) 5%,
    #32112e,
    #3d0c3a
  );
  opacity: 0.8;
}

.title-list.more {
  margin-top: 140px;
  position: relative;
  z-index: 1;
}

.movie-box {
  display: flex;
  height: 400px;
  width: 210px;
  overflow: hidden;
  flex-direction: column;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.15s;
  flex-shrink: 0;
  padding: 12px 0px;
  flex-shrink: 0;
}

.movie-box:hover {
  transform: scale(1.1);
}
.movie-box a {
  height: 300px;
}
.movie-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  display: block;
  filter: brightness(90%);
}

.movie-box:hover img {
  filter: brightness(90%);
}

.movie-box div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-name-movie p {
  color: rgb(245, 245, 245);
  font-weight: 350;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.content-name-movie p:first-child {
  padding-top: 4px;
}

.content-name-movie p:first-child:hover {
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-name-movie p:last-child {
  color: rgb(155, 155, 155);
  padding-top: 4px;
}
