.recommend-container {
    position: relative;
    height: auto;
    width: 100%;
    border-right: none;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: transparent;
}

.title-recommend {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 30px;
    font-weight: 600;
}

.title-recommend p {
    background: linear-gradient(90deg, #97dde8, #ffccf2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.movie-list-recommend {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
}

.movie-recommend-box {
    height: 132px;
    width: 94%;
    border-radius: 10px;
    background-color: rgba(80, 80, 80, 0.2);
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
}