.recommend-container {
    position: relative;
    height: auto;
    width: 100%;
    background: rgba(27, 27, 27, 0.4);
    border-radius: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-recommend {
   
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    /* Căn trái cho đẹp, hoặc center tùy bạn */
    justify-content: flex-start;
    border-bottom: 1px solid rgb(75, 75, 75);
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.title-recommend p {
    background: linear-gradient(90deg, #97dde8, #ffccf2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px; 
    font-weight: 600;
    margin: 0;
    line-height: 1.3;
}

.movie-list-recommend {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.movie-recommend-box {
    height: 132px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(80, 80, 80, 0.2);
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.2s;
    cursor: pointer;
}

.movie-recommend-box:hover {
    background-color: rgba(80, 80, 80, 0.4);
}

.poster-movie-recommend {
    height: 100%;
    width: 90px; 
    border-radius: 6px;
    overflow: hidden;
    flex-shrink: 0;
}

.poster-movie-recommend img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.info-movie-recommend {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    overflow: hidden; 
}

.name-movie-recommend p {
    margin: 0;
    line-height: 1.3;
}

.name-movie-recommend p:first-child {
    font-size: 15px; 
    color: rgb(236, 236, 236);
    font-weight: 500;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.name-movie-recommend p:nth-child(2) {
    font-size: 13px;
    color: rgb(123, 123, 123);
    margin-top: 4px;
}

.info-movie-recommend div:last-child {
    background: linear-gradient(90deg, #97dde8, #ffccf2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 13px;
    margin-top: 5px;
}

.info-movie-recommend div:last-child i {
    margin-left: 6px;
    font-size: 11px;
}