.play-container{
  display: flex;
  flex-direction: column;
  height:auto;
  width: 100%;
  align-items: center;
}

.name-film-play{
  height: 50px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  margin-right: auto;
}

.name-film-play p{
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
  margin: 0;
}

.play-box{
  background-color: black;
  height: 85vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.plyr {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  object-position: center !important;
  max-width: none !important;
}

.plyr__video-wrapper {
  width: 100% !important;
}

.plyr__controls {
  width: 100% !important;
}

.bar-play{
  height: 40px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.right,
.left{
  height: 70%;
  width: auto;
  display: flex;
  align-items: center;
  gap: 14px;
}

.like,
.change-episode,
.next-episode,
.prev-episode,
.cinema,
.share,
.repost{
  font-size: 14px;
  color: rgb(215, 215, 215);
  padding: 4px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.15s;
}

.like:hover,
.change-episode:hover,
.next-episode:hover,
.prev-episode:hover,
.cinema:hover,
.share:hover,
.repost:hover{
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.like span,
.prev-episode span,
.share span,
.repost span{
  font-size: 12px;
  margin-right: 6px;
}

.next-episode span{
  font-size: 12px;
  margin-left: 6px;
}

.cinema span,
.change-episode span{
  font-size: 12px;
  border: 1px solid #97dde8;
  border-radius: 4px;
  padding: 2px 4px;
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right-box{
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 20px;
  background: rgba(27, 27, 27, 0.4);
}

.info-film{
  height: auto;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: auto;
  padding: 20px 0;
}

.poster{
  height: 240px;
  width: 180px;
  overflow: hidden;
  border-radius: 6px;
  flex-shrink: 0;
}

.poster img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.info{
  height: auto;
  width: 100%;
}

.left-content{
  height: 100%;
  width: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.name-film{
  color: rgb(235, 235, 235);
  font-size: 24px;
  letter-spacing: 1px;
}

.origin_name{
  display: block;
  background: linear-gradient(90deg, #97dde8, #ffccf2 40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}

.total-info{
  display: flex;
  flex-direction: row !important;
  gap: 12px;
}

.imdb,
.quality,
.year,
.episode{
  padding: 6px 12px;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.imdb{
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #97dde8;
}

.quality{
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  color: black !important;
  border:1px;
}

.year,
.episode{
  background-color: rgba(100,100,100,0.1);
  color: rgb(220, 220, 220);
  border: 1px solid rgb(211, 211, 211);
}

.genre-list{
  display: flex;
  flex-direction: row !important;
  gap: 12px;
}

.genre-list div{
  color: rgb(211, 211, 211);
  padding: 6px 12px;
  font-size: 15px;
  background-color: rgba(100,100,100,0.2);
  border-radius: 8px;
  cursor: pointer;
}

.content-film{
  color: rgb(103, 103, 103);
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.episode-right-box{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-episode-list{
  height: 50px;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 12px;
}

.title-episode-list div:first-child{
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.complete{
  font-size: 14px;
  color: rgb(19, 215, 19);
  display: flex;
  align-items: center;
  background-color: rgba(17, 196, 50, 0.5);
  padding: 4px 8px;
  border-radius: 14px;
}

.ongoing{
  font-size: 14px;
  color: rgb(252, 137, 6);
  display: flex;
  align-items: center;
  background-color: rgba(132, 77, 15, 0.5);
  padding: 4px 8px;
  border-radius: 14px;
}

.title-episode-list span{
  padding-right: 6px;
  font-size: 14px;
}

.list-episode-box{
  height: auto;
  width: 100%;
  border-radius: 18px;
  padding: 6px;
  border: 1px solid rgb(28, 28, 28);
  box-shadow:inset 0 0 14px rgba(87, 87, 87, 0.3);
}

.season-movie{
  display: flex;
  height: 32px;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  cursor: pointer;
  transition: 0.15s;
}

.season-movie p{
  color: white;
  padding: 4px 0px 4px 12px;
}

.season-movie p:first-child{
  font-size: 18px;
}

.season-movie p:last-child{
  font-size: 14px;
  border-left: 1px solid rgb(211,211,211);
}

.season-movie span{
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 8px;
}

.episode-list{
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  flex-direction: row !important;
  gap: 12px;
}

.episode-list::-webkit-scrollbar {
  display: none; 
}

.episode-list div{
  background-color: rgba(107, 103, 125, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 140px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.15s;
}

.episode-list div a{
  color: white;
  text-decoration: none;
}

.episode-list div:hover a{
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.episode-list div a i{
  margin-right: 10px;
  font-size: 14px;
}

.box-utils{
  height: auto;
  max-height: 1600px;
  display: flex;
  background: transparent;
}

.total-container{
  display: flex;
  margin-top: 12px;
}

@media (max-width: 1200px) {
  .play-box {
    height: 60vh;
  }
}

@media (max-width: 992px) {
  .total-container {
    flex-direction: column;
    align-items: center;
  }

  .right-box,
  .comment-container {
    width: 100%;
  }

  .recommend-container {
    width: 100%;
    border-right: none;
    border-top: 1px solid rgb(75, 75, 75);
    padding-top: 20px;
  }

  .play-box {
    height: 50vh;
  }

  .info-film {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .poster {
    width: 180px;
    height: 220px;
  }

  .left-content {
    max-width: 100%;
    align-items: center;
  }

  .genre-list {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .play-box {
    height: auto;
    aspect-ratio: 16/9;
  }

  .bar-play {
    flex-direction: column;
    gap: 6px;
    height: auto;
    padding: 8px 0;
  }

  .left,
  .right {
    justify-content: center;
  }

  .right-box,
  .comment-container,
  .recommend-container {
    width: 100%;
    padding: 0 10px;
  }

  .movie-recommend-box {
    flex-direction: row;
    align-items: center;
  }

  .poster-movie-recommend {
    width: 80px;
    height: 110px;
  }

  .info-movie-recommend p:first-child {
    font-size: 15px;
  }

  .info-movie-recommend p:nth-child(2) {
    font-size: 13px;
  }

  .text-comment-box {
    height: auto;
    padding-bottom: 60px;
  }
}

@media (max-width: 576px) {
  .name-film-play {
    margin-top: 80px;
  }

  .name-film-play p {
    font-size: 22px;
  }

  .play-box {
    height: 40vh;
    border-radius: 8px;
  }

  .info-film {
    flex-direction: column;
    gap: 10px;
  }

  .poster {
    width: 150px;
    height: 200px;
  }

  .genre-list div,
  .imdb,
  .quality,
  .year,
  .episode {
    font-size: 13px;
    padding: 4px 8px;
  }

  .bar-play p {
    font-size: 12px;
  }

  .movie-recommend-box {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 10px;
  }

  .poster-movie-recommend {
    width: 100%;
    height: 180px;
  }

  .comment {
    gap: 25px;
  }

  .react-comment p {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .play-box {
    height: 35vh;
  }

  .poster {
    width: 130px;
    height: 180px;
  }

  .title-recommend {
    font-size: 22px;
  }

  .text-comment-box p {
    font-size: 14px;
    right: 18px;
  }

  .info-viewer-comment-box p {
    font-size: 14px;
  }
}