body {
  background-color: #141414;
  color: rgb(235, 235, 235);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

.play-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  align-items: center;
}

.name-film-play {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.name-film-play p {
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
  font-weight: 400;
  margin: 0;
  display: inline-block;
}

.play-box {
  background-color: black;
  height: 85vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  position: relative;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.plyr {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  object-position: center !important;
  max-width: none !important;
}

.plyr__video-wrapper {
  width: 100% !important;
}

.plyr__controls {
  width: 100% !important;
}

.bar-play {
  height: 40px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
  padding: 0 10px;
}

.right,
.left {
  height: 70%;
  width: auto;
  display: flex;
  align-items: center;
  gap: 14px;
}

.like,
.change-episode,
.next-episode,
.prev-episode,
.cinema,
.share,
.repost {
  font-size: 14px;
  color: rgb(215, 215, 215);
  padding: 4px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.15s;
}

.like:hover,
.change-episode:hover,
.next-episode:hover,
.prev-episode:hover,
.cinema:hover,
.share:hover,
.repost:hover {
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.like span,
.prev-episode span,
.share span,
.repost span {
  font-size: 12px;
  margin-right: 6px;
}

.next-episode span {
  font-size: 12px;
  margin-left: 6px;
}

.cinema span,
.change-episode span {
  font-size: 12px;
  border: 1px solid #97dde8;
  border-radius: 4px;
  padding: 2px 4px;
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 4px;
}

.right-box {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding-bottom: 20px;
  background: rgba(27, 27, 27, 0.4);
  border-radius: 10px;
  padding: 20px;
}

.info-film {
  height: auto;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.poster {
  height: 240px;
  width: 180px;
  overflow: hidden;
  border-radius: 6px;
  flex-shrink: 0;
}

.poster img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.info {
  height: auto;
  width: 100%;
}

.left-content {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.name-film {
  color: rgb(235, 235, 235);
  font-size: 24px;
  letter-spacing: 1px;
}

.origin_name {
  display: block;
  background: linear-gradient(90deg, #97dde8, #ffccf2 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}

.total-info {
  display: flex;
  flex-direction: row !important;
  gap: 12px;
}

.imdb,
.quality,
.year,
.episode {
  padding: 6px 12px;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.imdb {
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #97dde8;
}

.quality {
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  color: black !important;
  border: 1px;
}

.year,
.episode {
  background-color: rgba(100, 100, 100, 0.1);
  color: rgb(220, 220, 220);
  border: 1px solid rgb(211, 211, 211);
}

.genre-list {
  display: flex;
  flex-direction: row !important;
  gap: 12px;
}

.genre-list div {
  color: rgb(211, 211, 211);
  padding: 6px 12px;
  font-size: 15px;
  background-color: rgba(100, 100, 100, 0.2);
  border-radius: 8px;
  cursor: pointer;
}

.content-film {
  color: rgb(103, 103, 103);
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.episode-right-box {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-episode-box {
  height: auto;
  width: 100%;
  border-radius: 18px;
  padding: 15px;
  border: 1px solid rgb(28, 28, 28);
  box-shadow: inset 0 0 14px rgba(87, 87, 87, 0.3);
  background: rgba(27, 27, 27, 0.4);
}

.title-episode-list {
  height: 50px;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 12px;
}

.title-episode-list div:first-child {
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.complete {
  font-size: 14px;
  color: rgb(19, 215, 19);
  display: flex;
  align-items: center;
  background-color: rgba(17, 196, 50, 0.5);
  padding: 4px 8px;
  border-radius: 14px;
}

.ongoing {
  font-size: 14px;
  color: rgb(252, 137, 6);
  display: flex;
  align-items: center;
  background-color: rgba(132, 77, 15, 0.5);
  padding: 4px 8px;
  border-radius: 14px;
}

.title-episode-list span {
  padding-right: 6px;
  font-size: 14px;
}

.season-movie {
  display: flex;
  height: 32px;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  cursor: pointer;
  transition: 0.15s;
  margin-bottom: 10px;
}

.season-movie p {
  color: white;
  padding: 4px 0px 4px 12px;
  margin: 0;
}

.season-movie p:first-child {
  font-size: 18px;
}

.season-movie p:last-child {
  font-size: 14px;
  border-left: 1px solid rgb(211, 211, 211);
}

.season-movie span {
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 8px;
}

.episode-list {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  flex-direction: row !important;
  max-height: 300px;
  overflow-y: auto;
}

.episode-list::-webkit-scrollbar {
  width: 4px;
}

.episode-list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.episode-list div {
  background-color: rgba(107, 103, 125, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.15s;
}

.episode-list div a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  width: 100%;
  text-align: center;
  display: block;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.episode-list div:hover a {
  background: linear-gradient(90deg, #97dde8, #ffccf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.episode-list div a i {
  margin-right: 10px;
  font-size: 14px;
}

.box-utils {
  height: auto;
  width: 100%;
  display: flex;
}

.recommend-container {
  width: 100%;
}

@media (max-width: 1200px) {
  .play-box {
    height: 60vh;
  }
}

@media (max-width: 992px) {
  .total-container {
    flex-direction: column;
    align-items: center;
  }

  .play-box {
    height: 50vh;
  }

  .info-film {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .play-box {
    height: auto;
    aspect-ratio: 16/9;
  }

  .bar-play {
    height: auto;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    background-color: #1a1a1a;
  }

  .left,
  .right {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 0;
    justify-content: center;
  }

  .right {
    grid-template-columns: 1fr 1fr;
  }

  .left div,
  .right div {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    padding: 8px 4px;
  }

  .left p,
  .right p {
    flex-direction: column;
    gap: 4px;
    font-size: 11px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bar-play i {
    font-size: 16px;
    margin: 0 !important;
  }

  .bar-play span {
    margin: 0 !important;
  }

  .info-film {
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 15px;
  }

  .poster {
    width: 100px;
    height: 140px;
  }

  .name-film {
    font-size: 18px;
  }

  .origin_name {
    font-size: 14px;
  }

  .content-film {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media (max-width: 400px) {
  .left {
    grid-template-columns: repeat(2, 1fr);
  }
}
